.da-field-container-datatype-checkboxes.da-field-container-inputtype-checkboxes.da-group-has-error .da-has-error {
  visibility: hidden;
  width: 100%;
  display: grid;
  grid-template-rows: 0 min-content;
}

.da-field-container-datatype-checkboxes.da-field-container-inputtype-checkboxes.da-group-has-error .da-has-error:after {
  visibility: visible;
  content: "Bitte wählen Sie mindestens 1 aus.";
}

.da-field-container-datatype-boolean.da-field-container-inputtype-yesnoradio.da-group-has-error .da-has-error {
  visibility: hidden;
  width: 100%;
  display: grid;
  grid-template-rows: 0 min-content;
}

.da-field-container-datatype-boolean.da-field-container-inputtype-yesnoradio.da-group-has-error .da-has-error:after {
  visibility: visible;
  content: "Sie müssen eine auswählen.";
}

.da-field-container-datatype-dropdown.da-field-container-inputtype-dropdown.da-group-has-error .da-has-error {
  visibility: hidden;
  width: 100%;
  display: grid;
  grid-template-rows: 0 min-content;
  padding-top: 3px;
}

.da-field-container-datatype-dropdown.da-field-container-inputtype-dropdown.da-group-has-error .da-has-error:after {
  visibility: visible;
  content: "Sie müssen das ausfüllen.";
}

.da-field-container-datatype-area.da-group-has-error .da-has-error {
  visibility: hidden;
  width: 100%;
  display: grid;
  grid-template-rows: 0 min-content;
  padding-top: 3px;
}

.da-field-container-datatype-area.da-group-has-error .da-has-error:after {
  visibility: visible;
  content: "Sie müssen das ausfüllen.";
}

.da-field-container-datatype-integer.da-group-has-error .da-has-error {
  visibility: hidden;
  width: 100%;
  display: grid;
  grid-template-rows: 0 min-content;
  padding-top: 3px;
}

.da-field-container-datatype-integer.da-group-has-error .da-has-error:after {
  visibility: visible;
  content: "Sie müssen das ausfüllen.";
}