body.dabody .da-field-buttons .form-actions {
  display: flex !important;
  justify-content: space-between !important;
}

body.dabody .da-field-buttons .form-actions button:last-child {
  margin-left: auto !important;
}

body.dabody #hslNav {
  position: sticky !important;
  top: 0 !important;
  z-index: 10;
}

body.dabody #hslNav .hslNavContainer {
  padding: 10px 0 5px !important;
}

body.dabody #hslNav .hslNavContainer .links {
  display: none !important;
}

body.dabody .container .da-page-header {
  position: sticky !important;
  top: 56px !important;
  z-index: 9;
  margin: 0 0 20px !important;
  padding-bottom: 0 !important;
  padding-top: 20px !important;
  background-color: white;
  -webkit-box-shadow: 0px -100px 0px 100px rgba(255,255,255,1);
  -moz-box-shadow: 0px -100px 0px 100px rgba(255,255,255,1);
  box-shadow: 0px -100px 0px 100px rgba(255,255,255,1);
}

body.dabody .form-group .btn-light, body.dabody .form-group .btn-primary {
  display: flex !important;
}

body.dabody .form-group .btn-primary, body.dabody .form-group .btn-light {
  color: #212529 !important;
  background-color: white !important;
  border-color: white !important;
}

body.dabody .form-group .btn-primary:hover, body.dabody .form-group .btn-primary:hover {
  color: #212529 !important;
  background-color: whitesmoke !important;
  border-color: whitesmoke !important;
}

body.dabody .form-group .btn-light:hover, body.dabody .form-group .btn-light:hover {
  color: #212529 !important;
  background-color: whitesmoke !important;
  border-color: whitesmoke !important;
}

body.dabody .form-group .btn-primary:hover:active {
  box-shadow: none !important;
}

body.dabody .form-group .btn-primary.focus, body.dabody .form-group .btn-primary:focus {
  box-shadow: none !important;
  outline: none;
}

body.dabody .form-group .btn-light.focus, body.dabody .form-group .btn-light:focus {
  box-shadow: none !important;
  outline: none;
}

body.dabody .labelauty-unchecked-image .text-muted {
 color: #6c757dad !important;
}

body.dabody .form-group .labelauty-checked-image {
  display: inline-flex;
  align-items: center !important;
  justify-content: center !important;
  min-width: 16px !important;
  min-height: 16px !important;
  position: absolute !important;
  color: #007bff !important;
}

body.dabody .form-group .labelauty-unchecked-image {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-width: 16px !important;
  min-height: 16px !important;
}

body.dabody .form-group .btn-light .labelauty-checked-image {
  display: none !important;
}

body.dabody .da-field-radio .labelauty-unchecked-image, body.dabody .da-field-radio .labelauty-checked-image {
  border: 1px solid white !important;
}

body.dabody .da-field-radio label:hover .labelauty-unchecked-image, .da-field-radio label:hover .labelauty-checked-image {
  border: 1px solid whitesmoke !important;
}

body.dabody .form-group .da-field-radio .labelauty-unchecked-image .fa-circle {
  width: 95% !important;
}

body.dabody .form-group .da-field-checkboxes .btn-primary .labelauty-checked-image .fa-check {
  width: 65% !important;
}

body.dabody .form-group .da-field-radio .btn-primary .labelauty-checked-image .fa-check {
  min-width: 6px !important;
  min-height: 6px !important;
  max-width: 6px !important;
  max-height: 6px !important;
  border-radius: 100%;
  background-color: #007bff;
}

body.dabody .form-group .da-field-radio .btn-primary .labelauty-checked-image .fa-check path {
  display: none !important;
}

body.dabody .tab-pane .alert-success {
  display: none !important;
}

body.dabody .da-field-container-note .col-md-12 {
  padding-left: 45px !important;
  margin-bottom: 1rem !important;
  background-image: url(https://svognev.github.io/additional-css-for-documate/info_icon.svg);
  background-repeat: no-repeat;
  background-position: 14px top;
  background-size: 19px;
}

body.dabody .da-field-container-note .col-md-12 p {
  margin-bottom: 0 !important;
}

body.dabody .navbar .fixed-top {
  position: sticky !important;
}

body.dabody #dabackbutton {
  display: none !important;
}

body.dabody .navbar-nav {
  display: none !important;
}

body.dabody #danavbar-collapse {
  display: none !important;
}

body.dabody #damobile-toggler {
  display: none !important;
}

.da-pad-for-navbar {
  padding-top: 0 !important;
}

body.dabody .danavbar-title {
  max-width: 80% !important;
}
body.dabody .navbar-brand  {
  white-space: normal !important;
}

@media (min-width: 767px) {
  body.dabody .datext-right {
    min-height: 0 !important;
    text-align: left !important;
  }

  body.dabody .form-group {
    margin-bottom: 1.5rem !important;
  }

  body.dabody .col-md-4 {
    -ms-flex: none !important;
    flex: none !important;
    max-width: none !important;
  }

  body.dabody .form-group.darequired .col-form-label:after {
    bottom: 0.7rem !important;
    top: unset !important;
    right: unset !important;
  }

  body.dabody .col-md-8 {
    -ms-flex: none !important;
    max-width: none !important;
    flex: 0 auto !important;
  }

  body.dabody .offset-md-2 {
    margin-left: 0 !important;
  }

  body.dabody .offset-lg-3 {
    margin-left: 0 !important;
  }

  body.dabody .offset-xl-3 {
    margin-left: 0 !important;
  }

  body.dabody .container {
    width: 75% !important;
    max-width: 750px !important;
  }
}  